.imgProperty {
    width: 400px;
    height: 200px;
    margin-right: 30px;
    border-radius: 4%;
    border: 1px solid #AAA;
}

form .buttonFile {
    background: #26bb84;
    color: white;
    padding: 6px 6px;
    cursor: pointer;
    border-radius: 3px;
  }

  .inputsForm{
    border-color: 1px solid #dfe3e8;
  }